* Обнуление */
*,
*::before,
::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style-type: none;
   padding-inline-start: 0px;

}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
   line-height: 1;
   font-size: 18px;
   color: #000;
   font-family: 'Raleway';
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
._container {
   max-width: 980px;
   padding: 0px 15px;
   margin: 0px auto;
   box-sizing: content-box;
}
.ibg {
   position: relative;
}
.ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 95px;
   left: 151px;
   /* - */
   object-fit: cover;
}

@font-face {
   font-family: 'Onest Light';
   src: local('Onest'),
   url('../fonts/OnestLight1602-hint.ttf');
}

@font-face {
   font-family: 'Onest Regular';
   src: local('Onest'),
   url('../fonts/OnestRegular1602-hint.ttf');
}

@font-face {
   font-family: 'Onest';
   src: local('Onest'),
   url('../fonts/OnestThin1602-hint.ttf');
   font-weight: 300;
}

@font-face {
   font-family: 'Onest Bold';
   src: local('Onest'),
   url('../fonts/OnestBold1602-hint.ttf');
}

@font-face {
   font-family: 'Onest Medium';
   src: local('Onest'),
   url('../fonts/OnestMedium1602-hint.ttf');
}

/* ----ШАПКА----------------------------------------------------------------------------------------------------------------------- */
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header__container {
   display: flex;
   /* VOPROS */
   min-height: 104px;
   align-items: center;
}
@media (max-width: 479px) {
   .header__container {min-height: 70px;}
}
.header__logo {
   font-family: 'Comfortaa';
   /* VOPROS */
   font-size: 24px;
   /* font-weight: 200; */
   color: #000
}
.header__menu {
   /* VOPROS */
   /* margin: 0px 260px 0px 80px */
   margin: 0px 260px 0px 80px;
}

@media (max-width: 992px) {
   .header__cart {
      margin-left: 30px;
   }
}

@media (max-width: 992px) {
   .header__menu {
      margin: 0px 0px 0px 88px;
   }
}
@media (max-width: 767px) {
   .header__menu {
      margin: 0px 0px 0px 40px;
   }
}
@media (max-width: 479px) {
   .header__menu {
      margin: 0px 0px 0px 20px;
   }
}
.menu {
   padding: 5px 0px;
}
.menu__list {
   /* ломаются */
   flex-wrap: wrap;
   display: flex;
}
/* .menu__item {} */
.menu__item:not(:last-child) {
   margin: 0px 40px 0px 0px;
}
.menu__link{
   color: #565656;
   line-height: 171%;
   /* font-weight: 100; */
}
@media (max-width: 479px) {
   .menu__link {
      font-size: 18px;
   }
}

/* ----PRODUCT-------------------------------------------------------------------------------------------------------------------------- */

.product {
   display: flex;
   flex-wrap: wrap;
   position: relative;
   margin-top: 110px;
}

.product__img {
   margin: 0px 35px 0px 0px;
}

@media (max-width: 476px) {
   .product__img {
      margin: 20px 0px 100px 0px;
   }
}


.product__description{
   width: 440px;
}

.product__caption {
   color: #2f2f2f;
   font-size: 16px;
   font-family: 'Onest Regular';
   margin: 3px 0px 10px 0px;
}

.product__price {
   color: #2f2f2f;
   font-size: 16px;
   font-family: 'Onest Regular';
}

.product__button {
   margin-top: 7px;
   margin-bottom: 10px;
   background-color: #ededed;
   border:none;
   padding: 12px 35px;
   color: #2f2f2f;
   font-family: 'Onest Light';
   font-size: 12px;
}

.product__text {
   color: #000;
   font-size: 13px;
   line-height: 1.45;
   font-family: 'Onest Light';
}

.product__text_add {
   color: #7b7b7b;
   font-size: 11px;
   line-height: 1.45;
   font-family: 'Onest Light';
}

/* ----PRODUCT_INFORMATION-------------------------------------------------------------------------------------------------------------- */

.product__information {
   margin-top: 40px;
}

.information__caption {
   color: #2f2f2f;
   font-family: 'Onest Regular';
   font-size: 16px;
   /* text-decoration: underline; */
}

.information__name {
   font-family: 'Onest Bold';
   color: #000;
   font-size: 12px;
   margin-top: 25px;
}

.information__text {
   font-family: 'Onest Light';
   font-size: 12px;
   color: #000;
   line-height: 1.55;
}

.information__list > li {
   list-style-type: disc;
   font-family: 'Onest Light';
   font-size: 12px;
   color: #000;
   line-height: 1.55;
}

.information__list {
   margin-left: 15px;
   font-family: 'Onest Light';
   font-size: 12px;
   color: #000;
   line-height: 1.55;
}

/* ----COMPOSITION---------------------------------------------------------------------------------------------------------------------- */

.composition {
   margin-top: 40px;
}

.composition__caption {
   color: #2f2f2f;
   font-family: 'Onest Regular';
   font-size: 16px;
}

.composition__name {
   font-family: 'Onest Bold';
   color: #000;
   font-size: 12px;
   margin-top: 25px;
}

.composition__text {
   font-family: 'Onest Light';
   font-size: 12px;
   color: #000;
   line-height: 1.55;
}

/* ----ПОДВАЛ--------------------------------------------------------------------------------------------------------------------------- */
.footer {
   display: flex;
   flex: wrap;
   position: relative;
}
.column__footer {
   margin: 110px 30px 50px 0px;
}
.footer__logo {
   font-family: 'Comfortaa';
   font-size: 24px;
   color: #000;
}
.item__footer__text {
   font-size: 16px;
   color:#919090;
}
.footer__point {
   font-size: 17px;
   color: #424141;
}
._footer:not(:last-child) {
   margin: 0px 0px 20px 0px;
}

/* ._logo{
   margin-right: 330px;
} */

@media (min-width: 994px) {
   ._logo{
      margin-right: 330px;
   }
}

@media (max-width: 992px) {
   ._logo{
      margin-right: 280px;
   }
}

@media (min-width: 769px) {
   ._logo {
      margin-right: 280px;
   }
}

@media (max-width: 767px) {
   ._logo {
      margin-right: 100px;
   }
}

/* @media (min-width: 480px) {
   ._logo {
      margin-right: 100px;
   }
} */

@media (max-width: 479px) {
   ._logo {
      margin-right: 0px;
   }
}